*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background: radial-gradient(circle, rgba(69,151,168,1) 4%, rgba(52,141,153,1) 81%, rgba(23,106,116,1) 100%);
}

/* --------------------
Heading
--------------------*/

.heading {
    color: #ffffff;
    margin: 2.2rem;
    text-align: center;
}

/* --------------------
Cards_Orentation
--------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 35px 145px;
    padding: 0;
}

.cards__item {
    display: flex;
    padding: 1rem;

    @media(min-width: 40rem) {
        width: 50%;
    }

    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

/* --------------------
Calculator_Cards
--------------------*/

.card {
    background: #1b1b32;
    width: 35rem;
    padding: 3.125rem 2.5rem;
    border-radius: 0.625rem;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.75);
}

/* --------------------
Form
--------------------*/

.fieldset {
    display: grid;
    border: none;
    width: 80vw;
    max-width: 31.25rem;
    min-width: 18.75rem;
    padding: 1rem 0;
    margin: 0 auto;
    border-radius: 0.625rem;
}

h1,
p {
    color: #ffffff;
    margin: 0.2rem;
    text-align: center;
}

form {
    text-align: center;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    text-align: center;
    color: #ffffff;
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 0.188rem 0;
    width: 50%;
    min-height: 2rem;
}

input,
textarea {
    align-self: center;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

/* --------------------
Button
--------------------*/

button[type="submit"] {
    cursor: pointer;
    display: block;
    color: #ffffff;
    width: 60%;
    margin: 0.5rem auto;
    height: 2rem;
    font-size: 1.1rem;
    background: linear-gradient(rgb(63, 63, 63), rgb(25, 25, 49));
    border-color: whitesmoke;
    min-width: 18.75rem;
}