*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,46,1) 35%);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

/* --------------------
Cards_Orentation
--------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 35px 145px;
    padding: 0;
}

.cards__item {
    display: flex;
    padding: 1rem;

    @media(min-width: 40rem) {
        width: 50%;
    }

    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

/* --------------------
Card
--------------------*/

.card {
    background: #ffffff;
    max-width: 35rem;
    padding: 3.125rem 2.5rem;
    border-radius: 0.625rem;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.75);
}

/* --------------------
Form
--------------------*/

.fieldset {
    display: grid;
    border: none;
    width: 80vw;
    max-width: 31.25rem;
    min-width: 18.75rem;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    border-radius: 0.625rem;
}

h1{
    color: #172439;
    margin: 0.2rem;
    text-align: center;
}

input {
    padding: 20px;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #324056;
    outline: none;
    font-size: 22px;
}

input,
textarea {
    align-self: center;
    background-color: #324056;
    border: 1px solid #00c9b7;
    color: #ffffff;
}

/* --------------------
Button
--------------------*/

.Buttons {
    display: flex;
    gap: 5.3125rem;
    padding: 1rem 4.5rem 0rem;
}

.btn {
    font-size: 15px;
    margin-top: 8px;
    border: 2px solid #39224c;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #39224c;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    background-color: #324056;
}