*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
}

/* --------------------
Container for Generator
--------------------*/

.container {
    background-color: #ffffff;
    width: 533px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

/* --------------------
Color Input Box
--------------------*/

.colorSelection {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="color"] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 20px;
    border: none;
}

/* --------------------
 App Options Content and Input Box
--------------------*/

.app-options_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0px 0px 26px;
}

.app-option {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    height: 96px;
}

.app-option:nth-child(1),
.app-option:nth-child(2),
.app-option:nth-child(3),
.app-option:nth-child(4) {
    width: auto
}

.app-option:not(:first-child) {
    padding-left: 32px
}

.app-option_input {
    width: 70px;
    height: 30px;
    padding: 0 8px;
    margin-left: 12px;
    border: 1px solid #bbbfc5;
    border-radius: 6px;
    -webkit-transition: all 175ms ease-out;
    transition: all 175ms ease-out;
    text-align: center
}

.app-option_input:focus {
    border: 1px solid #4a6ee0;
    -webkit-box-shadow: 0 0 0px 1.5px #4a6ee0;
    box-shadow: 0 0 0px 1.5px #4a6ee0;
}

/* --------------------
Generate Button
--------------------*/

.toGenerate {
    font-family: 'Montserrat', sans-serif;
    display: block;
    background-color: #4a6ee0;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 70px;
    border-radius: 25px;
    margin: 0 auto 30px auto;
    cursor: pointer;
}

/* --------------------
Code Output and Copy Button
--------------------*/

.Output {
    background-color: #f0f2fc;
}

.codeOutput {
    width: 100%;
    resize: none;
    color: #30304a;
    padding: 10px 20px;
    background-color: transparent;
}

.copyCode {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #4a6ee0;
    color: #ffffff;
    position: relative;
    left: 85%;
    bottom: 10px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}